<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Threes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="Tab 2 Card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Testing</ion-card-subtitle>
      <ion-card-title>Welcome to Tab 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      <button (click)="users()"></button>
    </ion-card-content>
  </ion-card>
</ion-content>
